<!DOCTYPE html>
<html lang="en">
  <!-- Importing the Head from Partials/head.ejs -->
  <%- include('./Partials/head.ejs') %>

  <body>
    <!-- Importing the navbar from Partials/nav.ejs -->
    <%- include('./Partials/nav.ejs') %>

    <div class="not-found content">
      <h2>OOPS! Page Not Found</h2>
    </div>

      <!-- Importing the footer from Partials/footer.ejs -->
  <%- include('./Partials/footer.ejs') %>
  </body>
</html>
