<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Dev | <%= title %></title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Engine</h1></a>
            <p>A Backend Practice Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blogs</a></li>
        </ul>
    </nav>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident sed magni doloribus esse maxime adipisci tenetur expedita ab consequuntur architecto, et blanditiis explicabo consectetur? Dicta commodi labore distinctio odit quae?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident sed magni doloribus esse maxime adipisci tenetur expedita ab consequuntur architecto, et blanditiis explicabo consectetur? Dicta commodi labore distinctio odit quae?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident sed magni doloribus esse maxime adipisci tenetur expedita ab consequuntur architecto, et blanditiis explicabo consectetur? Dicta commodi labore distinctio odit quae?</p>
    </div>
</body>
</html>