<!DOCTYPE html>
<html lang="en">
  <!-- Importing the Head from Partials/head.ejs -->
  <%- include('./Partials/head.ejs') %>

  <body>
    <!-- Importing the navbar from Partials/nav.ejs -->
    <%- include('./Partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident sed
        magni doloribus esse maxime adipisci tenetur expedita ab consequuntur
        architecto, et blanditiis explicabo consectetur? Dicta commodi labore
        distinctio odit quae?
      </p>
      <br>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident sed
        magni doloribus esse maxime adipisci tenetur expedita ab consequuntur
        architecto, et blanditiis explicabo consectetur? Dicta commodi labore
        distinctio odit quae?
      </p>
      <br>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident sed
        magni doloribus esse maxime adipisci tenetur expedita ab consequuntur
        architecto, et blanditiis explicabo consectetur? Dicta commodi labore
        distinctio odit quae?
      </p>
    </div>

    <!-- Importing the footer from Partials/footer.ejs -->
    <%- include('./Partials/footer.ejs') %>
  </body>
</html>
